body {
    overflow: hidden;
    background-color: rgb(100,149,237);
}

.imagem {
    display: inline-block;
    height: 60px;
    margin-top: unset;
    vertical-align: top;
    width: 60px;
}

.temperatura {
    font-family: Google Sans, arial, sans-serif;
    font-weight: 400;
    display: inline;
}

.quebra{
    width: 100%;
    background-color: #000000;
    color: #000000;
    border-top: 7px solid rgb(0,0,0) !important;
}

.temp {
    font-size: 45px;
    vertical-align: top;
}

.celsius {
    padding-top: 10px;
    vertical-align: top;
    font-size: 25px;
}

.direita {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-right: 35px;
    margin-top: -65px;
    font-weight: 400;
    text-align: right;
}

.datahora {
    font-size: 15px;
    line-height: 20px;
}

.buscaCidade {
    width: 250px;
    padding: 5px;
}

.formulario {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.formulario select {
    width: 344px;
}

.formulario button {
    padding: 1px 6px;
}

.caixa {
    border: 2px solid #000000;
    padding: 10px;
    background-color: rgb(100,149,237);
    width: 100%;
}

.box {
    border: 2px solid #000000;
    /* padding: 10px; */
    width: 100%;
}

footer {
    border: 2px solid #000000;
    padding: 10px;
    background-color: rgb(100,149,237);
    width: 100%;
    position: fixed;
    bottom: 0%;
}

.direitos {
    text-align: right;
}

center {
    text-align: -webkit-center;
}


nav {
    font-size: 20px ;
    display: block;
    unicode-bidi: isolate;
}
/* 
.maiorMenor { 

} */